{% extends 'layout.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container-fluid">
	    <div class="row">
	        <div id="lateral-bar" class="col-md-3">ASD</div>
	        <div class="col-md-9">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eu tristique molestie. Fusce ultrices leo id ultricies vehicula. Sed non maximus ex. Proin rhoncus placerat vulputate. Vivamus sit amet lorem ante. Nullam fermentum libero ut metus vulputate, ut dignissim metus tempor. Donec posuere lorem lectus, ac vestibulum arcu lobortis ut. Cras non lobortis metus, at hendrerit odio. Proin vulputate vel enim et sollicitudin.
				</p>
                
                {% if projects|length > 0 %}
    
                <div id="projectList" class="row my-4 text-center">

                    <h3>My projects</h3>

                    {% for project in projects %}
                    <a href="{% url 'projects:project' project.id %}">
                    <div class="col-md-4 p-4">
                        <div class="card bg-title card-project">
                            <img src="{{project.picture.url}}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h2>{{project.name}}</h2>
                                <p>{{project.short_description}}</p>

                                {% if project.url %}
                                    <a href="{{project.url}}">{{project.url}}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    </a>
                    {% endfor %}

                </div>

                {% endif %}
    
	        </div>
	    </div>
	</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock scripts %}

