{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Sitio de prueba">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Roger">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sitio de pruebas</title>
<style>
.viewport {
  width: 300px;
  height: 300px;
  border: 5px solid #4838DE;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.item-pic {
    position: relative;
    top: 0px;
    left: 0px;
}

</style>
    </head>
    <body>
        <div class="viewport">
            <img class="item-pic"
            src="public/portfolio/pictures/2021-08-17-104113_1366x768_scrot.png"
            alt="" />
        </div><br />
        <div class="viewport">
            <img class="item-pic"
            src="static/img/index.jpg"
            alt="" />
        </div><br />
        <img id="mierda"
        src="static/img/index.jpg"
        alt="" />
        <script>
            window.addEventListener('load', (e) => {
                var vp = document.getElementsByClassName("viewport");
                var pic = document.getElementsByClassName("item-pic");
                for (let i = 0; i < vp.length; i++) {
                    // Picture dimensions are numerical integer
                    let ph = pic[i].naturalHeight;
                    let pw = pic[i].naturalWidth;

                    // Viewport dimensions are strings with an integer ended by "px"
                    let vh = window.getComputedStyle(vp[i], null)
                                .getPropertyValue("height").toString();
                    let vw = window.getComputedStyle(vp[i], null)
                                .getPropertyValue("width").toString();
        
                    if (ph > pw) {
                        pic[i].style.width = vw;
                        let x = `${(parseInt(vh) - ((parseInt(vw) * ph) / pw)) / 2}px`;
                        pic[i].style.top = x;
                    } else {
                        pic[i].style.height = vh;
                        let x = `${(parseInt(vw) - ((parseInt(vh) * pw) / ph)) / 2}px`;
                        pic[i].style.left = x;
                    }
                }
            });
        </script>
    </body>
</html>
