:root {
	--main-bg:      #E2E4FF;
	--header-bg:    #283080;
	--sidebar-bg:   #7079DE;
}

body {
	background: var(--main-bg);
}

footer {
    background: var(--header-bg);
    height: 100px;
}

#intro {
	padding: 10%;
}

.card-project:hover {
	border: 1px solid #FFF;
	cursor: pointer;
}

#avatar {
	max-width: 90%;
	height: auto;
	border-radius: 50%;
}

#avatar-container {
    max-height: 100%;
    padding: 15px;
}

#nav-bar {
    background: var(--header-bg);
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    z-index: 2;
}

#lateral-bar {
    background: var(--sidebar-bg);
}
