:root {
	--main-bg:      #E2E4FF;
	--header-bg:    #283080;
	--sidebar-bg:   #7079DE;
}

body {
	background: var(--main-bg);
    overflow-y: hidden;
}

footer {
    background: var(--header-bg);
    height: 100px;
}

#welcome_screen {
	background: var(--header-bg);
    position: fixed;
    margin-top: 0px;
	height: 100vh;
	width: 100%;
    transition: height 1s, margin-top 0.5s;
}

#intro {
	padding: 10%;
}

.card-project:hover {
	border: 1px solid #FFF;
	cursor: pointer;
}

#welcome_buttons {
    display: inherit;
    opacity: 1.0;
    transition: opacity 0.5s;
}

#avatar {
	max-width: 90%;
	height: auto;
	border-radius: 50%;
}

#avatar-container {
    max-height: 100%;
    padding: 15px;
}

#nav-bar {
    background: var(--header-bg);
    position: fixed;
    top: -200px;
    width: 100%;
    display: block;
    z-index: 1;
}

#lateral-bar {
    background: var(--sidebar-bg);
}
