/* Transición desde pantalla completa a cabecera normal */
/* Botones */
@keyframes scrolldown-buttons {
    0% {
        opacity: 1.0;
        height: 50px;
    }
    50% {
        opacity: 0.0;
        height: 50px;
    }
    100% {
        opacity: 0.0;
        height: 0px;
    }
}
/* Cabecera */
/*@keyframes scrolldown-frame {
    from {
        height: 100vh;
        background: #283080;
        max-height: 100vh;
    }
    to {
        height: initial;
        background: #288030;
        max-height: none;
    }
}*/

.scrolldown-buttons {
    animation-name: scrolldown-buttons;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/*.scrolldown-frame {
    animation-name: scrolldown-frame;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}*/
