/* Transition from fullscreen header to normal webpage view */
/* Buttons */
@keyframes scrolldown-buttons {
	0% {
		opacity: 1.0;
		height: 80px;
	}
	50% {
		opacity: 0.0;
		height: 80px;
	}
	100% {
		opacity: 0.0;
		height: 0px;
	}
}
/* Header */
@keyframes scrolldown-frame {
	from {
		height: 100vh;
	}
	to {
		height: 50vh;
	}
}
/* Avatar */
@keyframes scrolldown-avatar {
	from {
		max-height: 100%;
        padding: 15px;
	}
	to {
		max-height: 70%;
        padding: 35px;
	}
}

.sd-buttons {
	animation-name: scrolldown-buttons;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.sd-frame {
	animation-name: scrolldown-frame;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.sd-avatar {
	animation-name: scrolldown-avatar;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
